{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "import/prefer-default-export": "off",
    "semi": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "indent": ["error", 2],
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  },
  "env": { "browser": true, "es6": true },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  }
}
